{
  "root": true,
  // parse TypeScript files
  // https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser
  "parser": "@typescript-eslint/parser",
  // configure eslint using options described at
  // https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "no-var": "error"
  }
}
