dist
node_modules

# buf
packages/bsky/src/proto
packages/bsync/src/proto

# codegen
packages/api/src/client
packages/ozone/src/lexicon

# @atproto/lex
packages/lexicon-resolver/src/lexicons
packages/lex/*/src/lexicons
packages/lex/*/tests/lexicons
packages/oauth/oauth-client-browser-example/src/lexicons
packages/pds/src/lexicons
packages/bsky/src/lexicons
packages/sync/src/lexicons

# others
packages/api/src/moderation/const/labels.ts
packages/oauth/*/src/locales/*/messages.ts
packages/oauth/oauth-client-expo/android/build
