dist
node_modules

# buf
packages/bsky/src/proto
packages/bsync/src/proto

# codegen
packages/api/src/client
packages/lexicon-resolver/src/client
packages/bsky/src/lexicon
packages/pds/src/lexicon
packages/ozone/src/lexicon

# @atproto/lex
packages/lex/*/src/lexicons
packages/lex/*/tests/lexicons
packages/oauth/oauth-client-browser-example/src/lexicons

# others
packages/oauth/*/src/locales/*/messages.ts
packages/oauth/oauth-provider-frontend/src/routeTree.gen.ts
packages/oauth/oauth-client-expo/android/build
