.next
.nova
.env
.env.local
.env-custom-development
.env-development
.env-textile
.env-production
.DS_STORE
DS_STORE
yarn.lock
node_modules
dist
analytics.txt

/**/*/.DS_STORE
/**/*/node_modules
/**/*/.next
/**/*/.data