# buf
packages/bsky/src/proto/** linguist-generated=true
packages/bsync/src/proto/** linguist-generated=true

# codegen
packages/api/src/client/** linguist-generated=true
packages/lexicon-resolver/src/client/** linguist-generated=true
packages/bsky/src/lexicon/** linguist-generated=true
packages/pds/src/lexicon/** linguist-generated=true
packages/ozone/src/lexicon/** linguist-generated=true

# i18n
packages/oauth/oauth-provider-ui/src/locales/**/messages.po linguist-generated=true

# win32
LICENSE* text eol=lf
README* text eol=lf
SECURITY* text eol=lf
.git*  text eol=lf
*.ts   text eol=lf
*.js   text eol=lf
*.tsx  text eol=lf
*.html text eol=lf
*.css  text eol=lf
*.xml  text eol=lf
*.txt  text eol=lf
*.md   text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.log  text eol=lf
*.sh   text eol=lf
