.next
.nova
.env.local
.env-custom-development
.env-development
.env-textile
.env-production
.DS_STORE
DS_STORE
node_modules
yarn-error.log
dist
build
analytics.txt

/**/*/.DS_STORE
/**/*/node_modules
/**/*/.next
/**/*/.data
/**/*/yarn-error.log

server/blockstore
server/dev.sqlite
