node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
packages/**/dist
.idea
packages/*/coverage
test.sqlite
.DS_Store
*.log
*.tsbuildinfo
.*.env
.env.*
.env
\#*\#
*~
*.swp

# PDS local development directories
packages/pds/data
packages/pds/blobs