node_modules
interop-test-files
__snapshots__
dist
pnpm-lock.yaml
.pnpm*
.changeset
CHANGELOG.md
/.claude/settings.local.json

# buf
packages/bsky/src/proto
packages/bsync/src/proto

# codegen
packages/api/src/client

# @atproto/lex install
packages/*/*/lexicons.json
packages/*/lexicons.json
packages/api/lexicons
packages/pds/lexicons
packages/oauth/oauth-client-browser-example/lexicons

# @atproto/lex build
packages/*/src/lexicons
packages/*/*/src/lexicons
packages/*/*/tests/lexicons

# others
packages/api/src/moderation/const/labels.ts
packages/oauth/*/src/locales/*/messages.ts
packages/oauth/oauth-client-expo/android/build
packages/oauth/oauth-provider-ui/src/routeTree.gen.ts
