{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/.eslintrc", "lexicons/**/*.json"],
      "options": { "parser": "json", "trailingComma": "none" }
    },
    {
      "files": [
        "**/tsconfig/*.json",
        "**/tsconfig.*.json",
        "**/.vscode/*.json",
        "**/.zed/*.json",
        "**/.prettierrc"
      ],
      "options": { "parser": "jsonc", "trailingComma": "all" }
    }
  ]
}
