.center {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paragraph {
  font-family: "Body";
  font-size: 1rem;
  line-height: 1.5;
  padding: 24px;
  width: 100%;
  max-width: 388px;
  text-align: center;
}

.button {
  border-radius: 5px;
  padding: 4px 8px;
}

.tweetBox {
  padding: 3px 8px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
}

.post {
  padding: 10px;
  white-space: pre-line;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.postUser {
  font-weight: bold;
  margin-bottom: 4px;
}

.header {
  display: block;
  padding-bottom: 40px;
}

.tweets {
  display: block;
  width: 400px;
}

// .layoutContainer {
//   display: grid;
//   grid-template-columns: auto 25%;
//   /*grid-template-columns: auto 300px;*/
//   grid-column-gap: 0px;
// }
.layoutContainer {
  display: flex;
}
.main {
  flex: 3;
}
.aside {
  flex: 1;
  padding-left: 40px;
}
.userBox {
  min-width: 250px;
  max-width: 250px;
  font-size: 12px;
  padding: 10px 0;
}
.divider {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  border-left: 1px solid #B1D4E0;
  padding: 10px;
}
