@tailwind base;
@tailwind components;
@tailwind utilities;

/* Matches colors defined in tailwind.config.js */
@layer base {
  :root {
    --color-brand: 255 115 179;
    --color-error: 235 65 49;
    --color-warning: 255 201 73;
  }
}
