.center {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  font-family: "Body";
  font-size: 1rem;
  line-height: 1.5;
  padding: 24px;
  width: 100%;
  max-width: 288px;
  text-align: center;
}
