@tailwind base;
@tailwind components;
@tailwind utilities;

/* Matches colors defined in tailwind.config.js */
@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-column: 189 255 253;
    --color-error: 255 0 0;
  }
}
