.PopoverContent {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.PopoverContent:focus {
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: radixSlideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: radixSlideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: radixSlideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: radixSlideRightAndFade;
}

.PopoverArrow {
  fill: currentColor;
}

.PopoverClose {
}
.PopoverClose:hover {
}
.PopoverClose:focus {
}

@keyframes radixSlideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes radixSlideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes radixSlideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes radixSlideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
