name: Publish

on:
  push:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  build:
    name: Build & Publish
    if: github.repository == 'bluesky-social/atproto'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable && corepack prepare --activate
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm i --frozen-lockfile
      - run: pnpm build
      - run: pnpm verify
      - name: Publish
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
          version: pnpm version-packages
          commit: 'Version packages'
          title: 'Version packages'
