name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build & Publish
    if: github.repository == 'bluesky-social/atproto'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      # https://github.com/actions/setup-node/issues/531#issuecomment-2960522861
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
      - name: Enable Corepack
        run: corepack enable
      - name: Configure Dependency Cache
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
      - run: npm i -g npm@latest
      - run: pnpm i --frozen-lockfile
      - name: Publish
        uses: changesets/action@v1
        id: changesets
        with:
          publish: pnpm release
          version: pnpm run version-packages
          commit: 'Version packages'
          title: 'Version packages'
